
/*
    >>> EDITOR PAGE <<<
    /editor
*/
#editor-page {
    padding: 1rem;
    display: flex; flex-direction: column;
    gap: 1rem;
}
#editor-page h1 {text-align: center;}
#editor-page-ingredients > h2, #editor-page-steps > h2  {
    font-size: 1.25rem;
    text-align: center;
}
#editor-page-header {
    display: flex; gap: 2rem;
    align-items: center;
    border: 2px solid var(--fc-main);
    padding: 1rem;
}
#editor-page-meta {
    display: flex; align-items: center;
    border: 2px solid var(--fc-main);
    padding: 1rem;
    gap: 0.5rem;
    flex-wrap: wrap;
}
#editor-page-meta > input {
    border-bottom: 2px solid var(--fc-main);
    padding: 0.25rem 0.5rem;
}
input#edit-time {width: 4rem;}
input#servings {width: 2rem;}

#editor-page-steps, #editor-page-ingredients {
    width: 98%; padding: 0.5rem;
    border: 2px solid var(--fc-main);
    overflow: auto;
    display: flex; flex-direction: column;
    gap: 0.5rem;
}

/*
    >>> EDITOR UI <<<
*/

#editor-page input#time {
    width: 75px
}
#editor-page #cat {
    width: 75px
}
#edit-bot-btns {
    width: 100%;
    display: flex; gap: 0.5rem;
    margin-top: 1rem;
    background-color: var(--bc-main);
    border-top: 10px solid var(--fc-main);
    padding-top: 0.5rem
}
#edit-bot-btns .alert-div {
    width: 100%;
}
#edit-bot-btns button {
    border: 1px solid var(--fc-main);
    padding: 0.5rem;
    width: 100%;
    transition: 0.2s;
}
#edit-bot-btns button:hover {
    cursor: pointer;
    border-color: var(--fc-highlight);
}
#recipe-editor-ai-prompter {
    margin: 2rem auto;
    height: fit-content;
    border-radius: 4px;
    display: flex; flex-direction: column;
 }
#recipe-url-div {
    display: flex; gap: 1rem;
    align-items: center;
    width: 100%;
}
#recipe-editor-helper {
    background-color: var(--bc-main);
    padding: 1rem;
    margin: 2rem;
    overflow-y: auto;
    height: calc(100% - 4rem);
    display: flex; flex-direction: column;
    gap: 1rem;
}
#recipe-editor-helper .container {
    padding: 1rem; border: 2px solid var(--fc-main);
    display: flex; flex-direction: column;
    gap: 0.5rem;
}
#recipe-editor-helper .symbol-help {
    display: flex; gap: 1rem;
    align-items: center;
}

/*
    <EditStep />
    component/EditStep
*/
.edit-steps {
    display: flex; flex-direction: column;
    gap: 1rem;
}
.edit-step-div {
    width: 100%;
    border: 2px solid var(--fc-main);
    display: flex; gap: 1rem;
    padding: 0.5rem;
}
.edit-step-options {
    display: flex; flex-wrap: wrap;
    width: 190px;
    padding: 0.5rem;
    border-left: 4px solid var(--fc-main)s;
    justify-content: center; align-items: center;
    gap: 1rem
}
.edit-step-options button {
    border: 1px solid var(--fc-main); border-radius: 4rem;
    width: 2rem; height: 2rem;
    display: flex; align-items: center; justify-content: center;
}
.edit-step-options button:hover,.edit-step-options button:active {
    color: var(--fc-highlight);
}
.edit-step-div textarea, .edit-step-div .MuiInputBase-multiline {
    height: 100% !important;
}

/*
    <EditIngredient />
    component/EditIngredient
*/
.edit-ingredient-div {
    width: 100%;
    border: 2px solid var(--fc-main);
    display: flex; gap: 0.5rem;
    padding: 0.5rem;
    overflow-x: auto; min-height: min-content;
}
.edit-ingredient-group-div .edit-ingredient-div {
    width: calc(100% - 2rem);
}
.edit-ingredient-div button {
    font-weight: 100;
}

.edit-ingredient-group-div {
    display: flex; flex-direction: column;
    border: 2px solid var(--fc-main);
    border-left-width: 8px;
    width: 100%;
}
.edit-ingredient-group-div .top {
    background-color: var(--bc-main);
    display: flex; align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.edit-ingredient-group-div .top .border-btn {
    border: 2px solid var(--fc-main); padding: 0.5rem;
}
.edit-ingredient-group-div .bot > div {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding: 0.5rem 0;
}
.edit-ingredient-group-div .bot {
    display: flex; flex-direction: column;
    gap: 0.5rem;
}



.container {
    display: flex; gap: 1rem;
}
.icon-btn.selected {
    border-color: var(--fc-highlight) !important;
    color: var(--fc-highlight) !important;
}




@media (max-width: 600px) {

    /* EDITOR */
    #editor-page-header {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    #editor-page-header h1 {
        width: 100%;
    }

    #editor-page-meta {
        flex-direction: column;
    }

    #editor-page-meta .MuiInputBase-root {
        width: 100%;
    }

    .edit-ingredient-div {
        flex-direction: column;
    }

    .edit-ingredient-div .MuiTextField-root {
        width: 100% !important;
        max-width: unset !important;
    }

    .edit-step-div {
        flex-direction: column-reverse;
    }

    .edit-ingredient-group-div {
        overflow-x: auto;
    }
    .edit-ingredient-group-div .top {
        flex-wrap: wrap;
        gap: 0.5rem 0;
        padding: 0.5rem;
    }
    .edit-ingredient-group-div .top h1 {
        width: calc(100% - 3rem);
    }

    .edit-step-options {
        width: 100%;
        border: none;
    }

    .edit-ingredient-div > button {
        display: revert;
    }
}