@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch+Sans:wght@100..900&family=Text+Me+One&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');
:root {
  /* BACKGROUND */
  --bc-main: #fff;
  /* FONT SIZE */
  --fs-root: 18px;

  --fs-title: 3rem;
  --fs-header-1: 1.5rem;
  --fs-header-2: 1.25rem;
  --fs-text: 1rem;
  --fs-small: 0.8rem;
  /* FONT FAMILY */
  --ff-header: 'Ysabeau';
  --ff-text: 'Ysabeau';
}
html {
  width: 100%; height: 100%;
  font-size: var(--fs-root) !important;
  font-family: var(--ff-text) !important;
}
body {
  padding: 0; margin: 0;
  width: 100%; height: 100%;
  background-color: var(--bc-main);
  font-size: var(--fs-root) !important;
  font-family: var(--ff-text) !important;
}

/* GENERAL CHANGES */
div, input, textarea, button, select {
  margin: 0; padding: 0;
}
div, input, span, a, h1, h2, h3, p, textarea, button, select, li, ul, table, td {
  position: relative;
  box-sizing: border-box;
  border: none; outline: none;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  font-family: var(--ff-text) !important;
  font-size: var(--fs-text);
}
h1, h2,h3, p {
  margin: 0; padding: 0;
}
table {
  padding: 1rem;
  border: 2px solid black;
  display: block;
  width: 100%;
  overflow-x: auto;
}
td, th {
  min-width: 125px;
  border: 1px solid black;
}

h1 {
  font-size: calc(var(--fs-text) * 1.25);
}

#content {
  padding: 1rem;
}




button, span {transition: 0.2s; display: flex; align-items: center; gap: 0.5rem;}
button.border {
  border: 2px solid black; padding: 0.25rem 0.5rem; border-radius: 4px;
  min-height: 50px;
}
button.border svg {
  font-size: 1.5rem;
}
button.border > span {
  font-size: 0.75rem;
}
button.recipes-button:hover {
  color: var(--fc-highlight);
}
.search-forms {
  width: 100%;
}

.recipe-name:hover, .link:hover, a:hover, #editor-page-header button:hover {
  color: var(--fc-highlight);
  cursor: pointer;
}
.dialog-btn {
  margin: 0.5rem 1rem;
  border: 2px solid black; padding: 0.25rem 0.5rem;
}

.MuiSnackbar-root {z-index: 99;}
.alert-div {padding: 0; margin: 0;}
.alert-div button {
  width: 100%; height: 100%;
}






/* MEDIA QUERIES */

@media (max-width: 600px){
  #recipe-page {
    height: unset;
  }
  #recipe-page > .top > .meta {
    flex-wrap: nowrap; flex-direction: column;
    padding-top: 2rem;
  }
  #recipe-page >.top >.meta > button {width: 100%; text-align: center; top: 0; font-weight: bolder;}
  #recipe-page .recipe-name {
    width: 100%;
  }
  #recipe-page > .bot {
    flex-direction: column;
    height: 100%;
  }
  #recipe-page > .bot > div {
    width: 100%; height: 100%;
  }
  #recipe-page #steps-div, #recipe-page #ingredients-div {
    width: 100%; height: unset;
  }

  #recipe-page .top .sizing {
    gap: 0 0.5rem;
    padding: 0.75rem 0 0;
  }
  .ingredient-div {
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .recipe-list-div {gap: 0.5rem;}
  .recipe-div {width: 100%;}

/* EDITOR */
#editor-page-header {
  gap: 1rem; flex-wrap: wrap;
  justify-content: center;
}
#editor-page-header h1 {
  width: 100%;
}
#editor-page-meta {
  flex-direction: column;
}
  #editor-page-meta .MuiInputBase-root {
    width: 100%;
  }
.edit-ingredient-div {
  flex-direction: column;
}
  .edit-ingredient-div .MuiTextField-root {
    width: 100% !important;
    max-width: unset !important;
  }
.edit-step-div {
  flex-direction: column-reverse;
}
.edit-step-options {
  width: 100%;
  border: none;
}
.edit-ingredient-div > button {
  display: revert;
}

/* HOMEPAGE */
#home-bar {
  flex-direction: column;
  gap: 0.5rem;
}

#homepage-filter .container.filter {
    flex-direction: column;
}

} /* END MEDIA QUERY 1 */

@media (max-width: 1200px){
  #recipe-page #steps-div, #recipe-page #ingredients-div {
    height: 100%;
    max-height: calc(100vh - 50px - 115px - 4rem) !important;
  }
} /* END MEDIA QUERY 2 */
