@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch+Sans:wght@100..900&family=Text+Me+One&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');
:root {
  /* BACKGROUND */
  --bc-main: #efefef;
  /* FONT SIZE */
  --fs-root: 18px;

  --fs-title: 3rem;
  --fs-h1: 1.5rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1.15rem;
  --fs-text: 1rem;
  --fs-small: 0.8rem;
  /* FONT FAMILY */
  --ff-header: 'Ysabeau';
  --ff-text: 'Ysabeau';
  /* FONT COLORS */
  --fc-highlight: #c54141;
  --fc-highlight-text: #fdfdfd;
  --fc-highlight-recipe: #c54141;
  --fc-highlight-recipe-text: #fdfdfd;

  --fc-main: #fff;
}
html.DarkTheme,html.Dark {
  --bc-main: #121212;
  --fc-main: #eeeeee;
  --fc-highlight: #fc7979;
  --fc-highlight-text: #fdfdfd;
  --fc-highlight-recipe: #fc797933;
  --fc-highlight-recipe-text: #fdfdfd;
}
html.LightTheme,html.Light {
  --bc-main: #f5f5f5;
  --fc-main: #121212;
  --fc-highlight: #c54141;
  --fc-highlight-text: #fdfdfd;
  --fc-highlight-recipe: #c54141;
  --fc-highlight-recipe-text: #fdfdfd;
}
html {
  width: 100%; height: 100%;
  font-size: var(--fs-root);
  font-family: var(--ff-text);
}
body {
  padding: 0; margin: 0;
  width: 100%; height: 100%;
  background-color: var(--bc-main);
  color: var(--fc-main);
}

/* GENERAL CHANGES */
div, input, textarea, button, select {
  margin: 0; padding: 0;
}
div, input, span, a, h1, h2, h3, p, textarea, button, select, li, ul, table, td {
  position: relative;
  box-sizing: border-box;
  border: none; outline: none;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
 /*  color: var(--fc-main); */
  font-size: var(--fs-text);
  font-family: var(--ff-text);
}
input::placeholder, label, input {
  font-family: var(--ff-text) !important;
}
h1, h2,h3, p {
  margin: 0; padding: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
table {
  padding: 1rem;
  border: 2px solid var(--fc-main);;
  display: block;
  width: 100%;
  overflow-x: auto;
}
td, th {
  min-width: 125px;
  border: 1px solid var(--fc-main);;
}

#content {
  padding: 1rem;
}
/* GLOBAL COMPONENTS */
.icon-btn {
  padding: 0.25rem 0.5rem;
  display: flex; align-items: center;
  gap: 0.5rem;
  min-height: 2.5rem;
  width: fit-content;
}
.icon-btn > span , .icon-btn > a > span {
  line-height: 1;
  align-items: center; gap: 0.5rem;
}
.icon-btn > a {
  display: flex; gap: 0.5rem;
  line-height: 1;
}
/* STATES */
.icon-btn.icons-hidden {
  border: 2px solid rgba(0,0,0,0);
}
.icon-btn.icons-hidden > span, .icon-btn.icons-hidden > a > span {
  display: none;
}
.icon-btn.icons-visible {
  border: 2px solid var(--fc-main)
}
.icon-btn.const {
  border: 2px solid var(--fc-main) !important;
}
.icon-btn.const > span , .icon-btn.const > a > span {
  display: flex !important;
}
.icon-btn.icons-visible:hover,.icon-btn.icons-visible:active,.icon-btn.const:hover,.icon-btn.const:active  {
  cursor: pointer;
  border-color: var(--fc-highlight) !important;
  color: var(--fc-highlight) !important;
}

.icon-btn.icons-hidden:hover,.icon-btn.icons-hidden:active  {
  cursor: pointer;
  color: var(--fc-highlight) !important;
}
.icon-div {
  display: flex; gap: 0.5rem;
  transition: unset;
}

.icon-btn-group {
  display: flex;
  width: fit-content;
  gap: 1rem;
  margin: 0 0 1rem;
}
.icon-btn-group.column {
  flex-direction: column;
}
.icon-btn-group:has(.icons-hidden) {
  margin-bottom: 0;
}



button, span {transition: 0.2s; display: flex; align-items: center; gap: 0.5rem;}
button.border {
  border: 2px solid var(--fc-main); padding: 0.25rem 0.5rem; border-radius: 4px;
  min-height: 50px;
}
button.border svg {
  font-size: 1.5rem;
}
button.border > span {
  font-size: 0.75rem;
}
button.recipes-button:hover,button.recipes-button:active {
  color: var(--fc-highlight);
}
.search-forms {
  width: 100%;
}

.recipe-div .recipe-name:hover,.recipe-div .recipe-name:active, .link:hover,.link:active, a:hover, a:active, #editor-page-header button:hover, #editor-page-header button:active  {
  color: var(--fc-highlight);
  cursor: pointer;
}
.dialog-btn {
  margin: 0.5rem 1rem;
  border: 2px solid var(--fc-main); padding: 0.25rem 0.5rem;
}

.MuiSnackbar-root {z-index: 99;}
.alert-div {padding: 0; margin: 0;}
.alert-div button {
  width: 100%; height: 100%;
}
.icon-btn.back-to-top {
  margin-top: 1rem;
  width: 100%;
}

.mobile-only-viewer {
  display: none !important;
}