/*
    >>> HOME PAGE <<<
    /index.js
*/
#home-bar {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--fc-main);
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 2rem;
}
#home-bar-button-list {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
#home-bar a {
    line-height: 1;
}
/*
    <Filter />
    component/Filter
 */
#homepage-filter > .MuiPaper-root {
    padding: 1rem 2rem;
    display: flex; flex-direction: column;
    gap: 1rem;
    overflow: visible;
}
#homepage-filter-header {
    display: flex; align-items: center;
    margin-bottom: 0.5rem;
}
#homepage-filter-header-icons-div {
    position: absolute;
    top: -0.25rem; right: 0;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    z-index:3;
    flex-direction: row-reverse;
}
#filter-helper-modal {
    justify-content: center;
}
#filter-helper {
    background-color: white;
    width: 85%;
    display: flex; flex-direction: column;
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    margin-left: 7.5%;
}
#filter-helper .container {
    flex-direction: column;
}


#homepage-filter .container {
    padding: 1rem; border: 2px solid var(--fc-main);
    display: flex; flex-direction: column;
    gap: 0.5rem;
}
#homepage-filter .container.filter {
    flex-direction: row;
    align-items: center;
}
#homepage-filter .flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}



/*
    <RecipeList />
    component/RecipeList
*/
.recipe-list-div {
    display: flex; gap: 1rem;
    flex-wrap: wrap;
    width: 100%; height: 100%;
}
.recipe-list-div .icon-btn.icons-visible:hover {
    background-color: var(--fc-highlight-recipe) !important;
    color: var(--fc-highlight-recipe-text) !important;
    border-color: var(--fc-highlight-text) !important;
}
.recipe-list-div .icon-btn.icons-visible:hover span, .recipe-list-div .icon-btn.icons-visible:hover svg {
    color: var(--fc-highlight-text) !important;
}

/*
    <Recipe />
    component/Recipe
*/
.recipe-div {
    min-width: 300px;
    width: calc(33% - 1rem);
    min-height: 250px;
    display: flex; flex-direction: column;
    padding: 1rem 0.25rem;
    gap: 0.5rem;
    align-items: center;

    border: 2px solid var(--fc-main); border-radius: 2px;
    overflow-x: auto;
}
.recipe-category {
    font-size: 0.85rem;
    font-family: 'Gowun Dodum', sans-serif;
}
.recipe-name {
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Gowun Dodum', sans-serif;
}
.recipe-div .recipe-name a:hover {
    text-shadow: var(--recipe-name-shadow) 0 0 1px, var(--recipe-name-shadow) 0 0 1px;
}
.recipe-div .recipe-time {
    font-size: 0.9rem;
    text-align: center;
    height: 100%;
    align-items: baseline;
}
.recipe-div .icon-btn a span {
    font-size: 0.75rem;
}



@media (max-width: 600px){
    #home-bar {
        flex-direction: column;
        gap: 0.5rem;
    }

    #homepage-filter .container.filter {
        flex-wrap: wrap;
    }
    #homepage-filter .container.filter > div {
        width: calc(100% - 3rem);
    }
    #home-bar-button-list {
        flex-wrap: wrap;
    }
    #homepage-filter .filter-list {
        flex-direction: column;
    }

    #homepage-filter-header-icons-div {
        flex-direction: column;
    }
}

#signup-div {
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
    margin: 1rem;

    display: flex; flex-direction: column; gap: 1rem;
}
#signup-div .container {
    align-items: center;
}
#signup-div button {
    border: 2px solid black;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
}
#signup-div button:hover {
    cursor: pointer;
    background-color: var(--fc-highlight);
}