/*
    >>> PREFERENCES PAGE <<<
    /preferences
*/
#preferences-page {
    padding: 1rem;
    display: flex; flex-direction: column; gap: 1rem;
}
#preferences-page h1 {
    margin: 0;
}
#preferences-page .container {
    padding: 1rem; border: 2px solid black;
    display: flex; flex-direction: column;
    gap: 1rem;
}
#preferences-page .container.row {
    flex-direction: row;
}
#preferences-page-header {
    align-items: center;
}
#preferences-page-header a {
    line-height: 1;
}
#preferences-page-body {
    gap: 0.25rem !important;
}

#preferences-page-body .container.row {
    align-items: center;
}
.pref-cat-container {
    display: flex; gap: 1rem; align-items: center;
    overflow-x: auto;
}
.pref-cat-container > span {
    min-width: 8rem;
}
.pref-cat-color-block {
    border: 2px solid black;
    width: 2rem; height: 2rem;
}

@media (max-width: 600px){
    .pref-cat-container {
        flex-wrap: wrap;
    }
    .pref-cat-container > span {
        min-width: unset;
        width: calc(100% - 4rem);
    }
    .pref-cat-container > .MuiTextField-root {
        width: 100%;
    }
    #preferences-page-header {
        display: flex !important;
        flex-direction: column !important;
    }
}